In [1]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv('/content/ChurnPrediction.csv')
df

,Age,PastEmployee,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,46,No,Travel_Rarely,Human Resources,5,2,Medical,2,Male,3,...,22,4,1,16,2,3,4,2,0,2
1,37,Yes,Travel_Rarely,Human Resources,6,4,Human Resources,3,Male,3,...,22,4,0,7,3,3,3,2,0,2
2,59,No,Non-Travel,Human Resources,2,4,Human Resources,3,Female,2,...,21,4,1,30,3,3,3,2,2,2
3,54,No,Non-Travel,Human Resources,26,3,Human Resources,4,Female,4,...,12,3,0,23,3,3,5,3,4,4
4,26,No,Travel_Rarely,Human Resources,25,1,Life Sciences,3,Female,3,...,23,4,1,8,3,3,8,7,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,45,No,Travel_Rarely,Sales,20,3,Life Sciences,4,Female,3,...,15,3,0,8,3,3,5,3,0,1
1466,50,Yes,Travel_Rarely,Sales,28,3,Marketing,4,Male,2,...,13,3,1,20,3,3,3,2,2,0
1467,39,No,Travel_Rarely,Sales,24,1,Marketing,2,Female,2,...,11,3,1,21,2,2,20,9,9,6
1468,26,No,Travel_Rarely,Sales,5,3,Other,4,Female,2,...,18,3,0,5,2,3,4,2,0,0
1469,49,No,Travel_Frequently,Sales,2,3,Medical,4,Male,2,...,14,3,0,17,3,2,9,6,0,8

In [3]:
df.isnull().sum()

Age                        0
PastEmployee               0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EnvironmentSatisfaction    0
Gender                     0
JobInvolvement             0
JobLevel                   0
JobRole                    0
JobSatisfaction            0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
OverTime                   0
PercentSalaryHike          0
PerformanceRating          0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
WorkLifeBalance            0
YearsAtCompany             0
YearsInCurrentRole         0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [4]:
df.duplicated().sum()

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   PastEmployee             1470 non-null   object
 2   BusinessTravel           1470 non-null   object
 3   Department               1470 non-null   object
 4   DistanceFromHome         1470 non-null   int64
 5   Education                1470 non-null   int64
 6   EducationField           1470 non-null   object
 7   EnvironmentSatisfaction  1470 non-null   int64
 8   Gender                   1470 non-null   object
 9   JobInvolvement           1470 non-null   int64
 10  JobLevel                 1470 non-null   int64
 11  JobRole                  1470 non-null   object
 12  JobSatisfaction          1470 non-null   int64
 13  MaritalStatus            1470 non-null   object
 14  MonthlyIncome            1470 non-null   int64
 15  NumCompaniesWorked       1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  PercentSalaryHike        1470 non-null   int64
 18  PerformanceRating        1470 non-null   int64
 19  StockOptionLevel         1470 non-null   int64
 20  TotalWorkingYears        1470 non-null   int64
 21  TrainingTimesLastYear    1470 non-null   int64
 22  WorkLifeBalance          1470 non-null   int64
 23  YearsAtCompany           1470 non-null   int64
 24  YearsInCurrentRole       1470 non-null   int64
 25  YearsSinceLastPromotion  1470 non-null   int64
 26  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(19), object(8)
memory usage: 310.2+ KB

In [6]:
df['PastEmployee'].value_counts()

No     1233
Yes     237
Name: PastEmployee, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['PastEmployee'] = le.fit_transform(df['PastEmployee'])

df['PastEmployee'].value_counts()

0    1233
1     237
Name: PastEmployee, dtype: int64

In [9]:
df['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [ ]:
df['BusinessTravel'] = le.fit_transform(df['BusinessTravel'])

In [11]:
df['BusinessTravel'].value_counts()

2    1043
1     277
0     150
Name: BusinessTravel, dtype: int64

In [12]:
ls = ['Department','EducationField','Gender','JobRole','MaritalStatus','OverTime']
for col in ls:
  df[col] = le.fit_transform(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   PastEmployee             1470 non-null   int64
 2   BusinessTravel           1470 non-null   int64
 3   Department               1470 non-null   int64
 4   DistanceFromHome         1470 non-null   int64
 5   Education                1470 non-null   int64
 6   EducationField           1470 non-null   int64
 7   EnvironmentSatisfaction  1470 non-null   int64
 8   Gender                   1470 non-null   int64
 9   JobInvolvement           1470 non-null   int64
 10  JobLevel                 1470 non-null   int64
 11  JobRole                  1470 non-null   int64
 12  JobSatisfaction          1470 non-null   int64
 13  MaritalStatus            1470 non-null   int64
 14  MonthlyIncome            1470 non-null   int64
 15  NumCompaniesWorked       1470 non-null   int64
 16  OverTime                 1470 non-null   int64
 17  PercentSalaryHike        1470 non-null   int64
 18  PerformanceRating        1470 non-null   int64
 19  StockOptionLevel         1470 non-null   int64
 20  TotalWorkingYears        1470 non-null   int64
 21  TrainingTimesLastYear    1470 non-null   int64
 22  WorkLifeBalance          1470 non-null   int64
 23  YearsAtCompany           1470 non-null   int64
 24  YearsInCurrentRole       1470 non-null   int64
 25  YearsSinceLastPromotion  1470 non-null   int64
 26  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(27)
memory usage: 310.2 KB

In [14]:
X = df.drop(columns='PastEmployee')
y = df['PastEmployee']

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [16]:
print(X.shape)
print(y.shape)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1470, 26)
(1470,)
(1176, 26)
(1176,)
(294, 26)
(294,)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

def LR(X_train, X_test, y_train, y_test):
  LogReg = LogisticRegression()

  LogReg.fit(X_train, y_train)
  y_pred = LogReg.predict(X_test)

  print(confusion_matrix(y_test, y_pred))
  print(classification_report(y_test, y_pred))

In [18]:
LR(X_train, X_test, y_train, y_test)

[[238   0]
 [ 51   5]]
              precision    recall  f1-score   support

           0       0.82      1.00      0.90       238
           1       1.00      0.09      0.16        56

    accuracy                           0.83       294
   macro avg       0.91      0.54      0.53       294
weighted avg       0.86      0.83      0.76       294

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
cor = df.corr()

In [28]:
cor_1 = cor[abs(cor['PastEmployee'])>0.05]

In [31]:
cor_1

,Age,PastEmployee,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.031882,-0.001686,0.208034,-0.040873,0.010146,-0.036311,0.029820,...,0.003634,0.001904,0.037510,0.680381,-0.019621,-0.021490,0.311309,0.212901,0.216513,0.202089
PastEmployee,-0.159205,1.000000,0.000074,0.063991,0.077924,-0.031373,0.026846,-0.103369,0.029453,-0.130016,...,-0.013478,0.002889,-0.137145,-0.171063,-0.059478,-0.063939,-0.134392,-0.160545,-0.033019,-0.156199
Department,-0.031882,0.063991,-0.009044,1.000000,0.017225,0.007996,0.013720,-0.019395,-0.041583,-0.024586,...,-0.007840,-0.024604,-0.012193,-0.015762,0.036875,0.026383,0.022920,0.056315,0.040061,0.034282
DistanceFromHome,-0.001686,0.077924,-0.024469,0.017225,1.000000,0.021042,0.002013,-0.016075,-0.001851,0.008783,...,0.040235,0.027110,0.044872,0.004628,-0.036942,-0.026556,0.009508,0.018845,0.010029,0.014406
EnvironmentSatisfaction,0.010146,-0.103369,0.004174,-0.019395,-0.016075,-0.027128,0.043163,1.000000,0.000508,-0.008278,...,-0.031701,-0.029548,0.003432,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999
JobInvolvement,0.029820,-0.130016,0.039062,-0.024586,0.008783,0.042438,-0.002655,-0.008278,0.017960,1.000000,...,-0.017205,-0.029071,0.021523,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976
JobLevel,0.509604,-0.169105,0.019311,0.101963,0.005303,0.101589,-0.044933,0.001212,-0.039403,-0.012630,...,-0.034730,-0.021222,0.013984,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281
JobRole,-0.122427,0.067151,0.002724,0.662431,-0.001015,0.004236,0.015599,-0.017321,-0.039723,0.006616,...,-0.000848,-0.024233,-0.019171,-0.145439,0.001342,0.027764,-0.083657,-0.028354,-0.046384,-0.041150
JobSatisfaction,-0.004892,-0.103481,-0.033962,0.021001,-0.003669,-0.011296,-0.034401,-0.006784,0.033252,-0.021476,...,0.020002,0.002297,0.010690,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656
MaritalStatus,-0.095029,0.162070,0.024001,0.056073,-0.014437,0.004053,0.014420,-0.003593,-0.047183,-0.038497,...,0.012492,0.005207,-0.662577,-0.077886,0.010629,0.014708,-0.059986,-0.065822,-0.030915,-0.038570
MonthlyIncome,0.497855,-0.159840,0.034319,0.053130,-0.017014,0.094961,-0.041070,-0.006259,-0.031858,-0.015271,...,-0.027269,-0.017120,0.005408,0.772893,-0.021736,0.030683,0.514285,0.363818,0.344978,0.344079
OverTime,0.028062,0.246118,0.016543,0.007481,0.025514,-0.020322,0.002259,0.070132,-0.041924,-0.003507,...,-0.005433,0.004369,-0.000449,0.012754,-0.079113,-0.027092,-0.011687,-0.029758,-0.012239,-0.041586
StockOptionLevel,0.037510,-0.137145,-0.016727,-0.012193,0.044872,0.018422,-0.016185,0.003432,0.012716,0.021523,...,0.007528,0.003506,1.000000,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698
TotalWorkingYears,0.680381,-0.171063,0.034226,-0.015762,0.004628,0.148280,-0.027848,-0.002693,-0.046881,-0.005533,...,-0.020608,0.006744,0.010136,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188
TrainingTimesLastYear,-0.019621,-0.059478,0.015240,0.036875,-0.036942,-0.025100,0.049195,-0.019359,-0.038787,-0.015338,...,-0.005221,-0.015579,0.011274,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096
WorkLifeBalance,-0.021490,-0.063939,-0.011256,0.026383,-0.026556,0.009819,0.041191,0.027627,-0.002753,-0.014617,...,-0.003280,0.002572,0.004129,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759
YearsAtCompany,0.311309,-0.134392,-0.014575,0.022920,0.009508,0.069114,-0.018692,0.001458,-0.029747,-0.021355,...,-0.035991,0.003435,0.015058,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212
YearsInCurrentRole,0.212901,-0.160545,-0.011497,0.056315,0.018845,0.060236,-0.010506,0.018007,-0.041483,0.008717,...,-0.001520,0.034986,0.050818,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.034282,0.014406,0.069065,-0.004130,-0.004999,-0.030599,0.025976,...,-0.011985,0.022827,0.024698,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000

In [30]:
cor_2 = cor[abs(cor['PastEmployee'])>0.1]

In [32]:
lsFeat_1 = list(cor_1['PastEmployee'].index)

In [33]:
lsFeat_2 = list(cor_2['PastEmployee'].index)

In [34]:
df_1 = df[lsFeat_1]
df_2 = df[lsFeat_2]

In [36]:
df_1

,Age,PastEmployee,Department,DistanceFromHome,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsWithCurrManager
0,46,0,0,5,2,3,2,1,2,0,5021,1,1,16,2,3,4,2,2
1,37,1,0,6,3,3,1,1,1,0,2073,1,0,7,3,3,3,2,2
2,59,0,0,2,3,2,5,3,4,1,18844,0,1,30,3,3,3,2,2
3,54,0,0,26,4,4,4,3,4,2,17328,1,0,23,3,3,5,3,4
4,26,0,0,25,3,3,1,1,3,1,2942,0,1,8,3,3,8,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,45,0,2,20,4,3,2,7,3,2,4850,0,0,8,3,3,5,3,1
1466,50,1,2,28,4,2,3,7,1,0,10854,1,1,20,3,3,3,2,0
1467,39,0,2,24,2,2,4,7,4,1,12031,0,1,21,2,2,20,9,6
1468,26,0,2,5,4,2,1,8,3,2,2966,0,0,5,2,3,4,2,0
1469,49,0,2,2,4,2,2,7,2,1,5390,0,0,17,3,2,9,6,8

In [38]:
df_2

,Age,PastEmployee,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,StockOptionLevel,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,YearsWithCurrManager
0,46,0,2,3,2,2,0,5021,1,1,16,4,2,2
1,37,1,3,3,1,1,0,2073,1,0,7,3,2,2
2,59,0,3,2,5,4,1,18844,0,1,30,3,2,2
3,54,0,4,4,4,4,2,17328,1,0,23,5,3,4
4,26,0,3,3,1,3,1,2942,0,1,8,8,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,45,0,4,3,2,3,2,4850,0,0,8,5,3,1
1466,50,1,4,2,3,1,0,10854,1,1,20,3,2,0
1467,39,0,2,2,4,4,1,12031,0,1,21,20,9,6
1468,26,0,4,2,1,3,2,2966,0,0,5,4,2,0
1469,49,0,4,2,2,2,1,5390,0,0,17,9,6,8

In [40]:
X1 = df_1.drop(columns='PastEmployee')
y1 = df['PastEmployee']

X2 = df_2.drop(columns='PastEmployee')
y2 = df['PastEmployee']

In [41]:
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X1, y1, test_size = 0.2)

X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X2, y2, test_size = 0.2)

In [43]:
print(X1.shape)
print(y1.shape)
print(X_train_1.shape)
print(y_train_1.shape)
print(X_test_1.shape)
print(y_test_1.shape)

(1470, 18)
(1470,)
(1176, 18)
(1176,)
(294, 18)
(294,)

In [44]:
print(X2.shape)
print(y2.shape)
print(X_train_2.shape)
print(y_train_2.shape)
print(X_test_2.shape)
print(y_test_2.shape)

(1470, 13)
(1470,)
(1176, 13)
(1176,)
(294, 13)
(294,)

In [45]:
LR(X_train_1, X_test_1, y_train_1, y_test_1)

[[251   1]
 [ 42   0]]
              precision    recall  f1-score   support

          No       0.86      1.00      0.92       252
         Yes       0.00      0.00      0.00        42

    accuracy                           0.85       294
   macro avg       0.43      0.50      0.46       294
weighted avg       0.73      0.85      0.79       294

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [46]:
LR(X_train_2, X_test_2, y_train_2, y_test_2)

[[247   2]
 [ 41   4]]
              precision    recall  f1-score   support

          No       0.86      0.99      0.92       249
         Yes       0.67      0.09      0.16        45

    accuracy                           0.85       294
   macro avg       0.76      0.54      0.54       294
weighted avg       0.83      0.85      0.80       294

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(